.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 3.5rem;
	width: 100%;
}

.toolbar__navigation {
	align-self: center;
	button {
		background: none;
		border: none;
		padding: 1rem;
		margin: 0.75rem;
		color: #fff;
		font-size: 1.25rem;
		font-family: 'Muli', sans-serif;
	}
}

.toolbar__mobileNav {
	display: none;
}

@media (max-width: 768px) {
	.toolbar__navigation {
		display: none;
	}
}
