.atts {
	font-size: 3rem;
	white-space: nowrap;
	position: relative;
	list-style-type: none;
	margin: 0;
}

p {
	font-size: 1.75rem;
}

.skills-view {
	overflow: hidden;
	height: 4.25rem;
	margin: auto;
}
