.experienceContainer {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	.job {
		width: 17rem;
		border-radius: 3px;
		box-shadow: 0.05rem 0.05rem 0.15rem #8c8c8c;
		margin: 1.2rem;
		min-height: 13rem;
		background: #f7f8fa;
		.companyLogo {
			width: 80%;
		}
		.dateRange {
			position: relative;
			top: -1rem;
			right: -3.75rem;
			color: #a2a2a2;
		}
		.role {
			font-size: 1.15rem;
		}
	}
}
